<div class="container">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">JSOwner</h2>
                <h4 class="card-text">JSOwner. Each OpenStack service, Identity, Compute, Networking, and so on, has its own role-based access policies. 
                    They determine which user can access which objects in which way, and are defined in the service’s policy.json file. Whenever 
                    an API call to an OpenStack service is made, the service’s policy engine uses the appropriate policy definitions to determine 
                    if the call can be accepted. Any changes to policy.json are effective immediately, which allows new policies to be implemented 
                    while the service is running.</h4>
            </div>
        </div>