<div class="container">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Map higher Level</h2>
                <h4 class="card-text">A Map Higher Level. In many programming languages, map is the name of a higher-order function that applies 
                    a given function to each element of a functor, e.g. a list, returning a list of results in the same order. It is often called 
                    apply-to-all when considered in functional form.
                    <br>
                    The concept of a map is not limited to lists: it works for sequential containers, tree-like containers, or even abstract containers 
                    such as futures and promises.</h4>
            </div>
        </div>
