<!-- Questions go here link via router link-->
<div class="container">
    <div class="jumbotron">
        <h1>JavaScript</h1>
        <h2>Fun Facts</h2>
    </div class="card-header">
    <a href="http://localhost:4200">Home (Clear answer)</a><br>Questions
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><a routerLink='jspromises'>What are promises?</a></li>
    <li class="list-group-item"><a routerLink="callback">What are callbacks?</a></li>
    <li class="list-group-item"><a routerLink="maphigherlevel">What does the map higher level do?</a></li>
    <li class="list-group-item"><a routerLink="jsowner">Who is the owner of JavaScript?</a></li>
  </ul>
</div>
    
 


<router-outlet></router-outlet>